<div class="container d-flex justify-content-center align-items-center">
  <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%;">
    <h2 class="text-center mb-3">Register</h2>

    <% if flash[:notice] %>
      <div class="alert alert-success text-center">
        <strong><%= flash[:notice] %></strong>
      </div>
    <% end %>

    <%= turbo_frame_tag "auth_form" do %>
      <%= form_with url: users_path, local: false, class: "needs-validation", data: { controller: "form-validation" } do |form| %>
        <div class="mb-3">
          <%= form.label :phone_number, "Phone Number", class: "form-label" %>
          <%= form.text_field :phone_number, 
                required: true, 
                class: "form-control", 
                placeholder: "+7XXXXXXXXXX",
                data: { form_validation_target: "phone" } %>
        </div>

        <div class="d-grid">
          <%= form.submit "Send Code", class: "btn custom-red-btn w-100 me-5" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
