<turbo-stream action="replace" target="auth_form">
  <template>
    <h2>Enter Confirmation Code</h2>

    <p style="color: red;"><%= flash[:alert] %></p>

    <%= form_with url: verify_user_path, local: false do |form| %>
      <%= form.hidden_field :phone_number, value: session[:phone_number] %>
      <div>
        <%= form.label :confirmation_code, "Enter Confirmation Code" %>
        <%= form.text_field :confirmation_code, required: true %>
      </div>
      <div>
        <%= form.submit "Verify" %>
      </div>
    <% end %>
  </template>
</turbo-stream>
