<%= turbo_frame_tag "auth_form" do %>
  <% if flash[:alert] %>
    <p style="color: red;"><%= flash[:alert] %></p>
  <% end %>

  <%= form_with url: verify_user_path, local: false do |form| %>
    <%= form.hidden_field :phone_number, value: session[:phone_number] %>
    <div>
      <%= form.label :confirmation_code, "Enter Confirmation Code" %>
      <%= form.text_field :confirmation_code, required: true %>
    </div>
    <div>
      <%= form.submit "Verify" %>
    </div>
  <% end %>
<% end %>
