<div class="container-fluid py-4" style="padding-left: 250px; padding-right: 250px;">
  <div class="row justify-content-center g-2">
    <% @products.each do |product| %>
      <div class="col-md-3">

        <div class="card h-100 border-0 shadow-sm d-flex flex-column justify-content-between card-hover" style="transition: transform 0.3s ease;">

          <!-- Фото без отступов -->
          <% if product.image.attached? %>
            <%= image_tag product.image.variant(resize_to_limit: [300, 300]), class: "card-img-top", style: "object-fit: contain; padding: 10px;" %>
          <% else %>
            <%= image_tag "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='300' height='300'><rect width='100%' height='100%' fill='%23f8f9fa'/><text x='50%' y='50%' dominant-baseline='middle' text-anchor='middle' fill='%23666' font-size='20'>No Image</text></svg>", width: 300, height: 300, class: "card-img-top", style: "object-fit: contain; padding: 10px;" %>

          <% end %>

          <!-- Описание -->
          <div class="card-body text-center p-2">
            <h6 class="card-title mb-1 fw-bold"><%= product.name %></h6>
            <p class="card-text mb-2 text-muted small"><%= product.description %></p>
            <p class="fw-bold"><%= product.price %> ₽</p>
          </div>

          <!-- Кнопки на одном уровне -->
          <div class="p-2 d-flex justify-content-center gap-3">
  <%= button_to t('buttons.edit'),
        edit_admin_product_path(product),
        method: :get,
        class: '"btn custom-red-btn text-center px-4',
        style: "min-width: 80px;",
        form_class: 'm-0' %>

  <%= button_to t('buttons.delete'),
        admin_product_path(product),
        method: :delete,
        data: { confirm: 'Точно удалить?' },
        class: '"btn custom-red-btn text-center px-4',
        style: "min-width: 80px;",
        form_class: 'm-0' %>
</div>


        </div>

      </div>
    <% end %>
  </div>
</div>
