<div class="row justify-content-center g-2">
  <% @products.each do |product| %>
    <% cart_item = @cart_items.find { |item| item.product_id == product.id } %>
    <div class="col-md-3">
      <%= render partial: 'products/product', locals: {
            product: product,
            quantity: @cart_items_hash[product.id] || 0,
            cart_item: cart_item
          } %>
    </div>
  <% end %>
</div>




<br>
 <footer class="bg-light border-top m-0 p-0">
  <div class="w-100 d-flex flex-wrap">
    
    <!-- Карта -->
    <div class="flex-grow-1" style="min-width: 300px;">
      <div class="ratio ratio-4x3">
        <iframe
          src="https://yandex.ru/map-widget/v1/?ll=37.628490%2C55.759711&z=16&text=Москва%2C%20ул.%20Большая%20Лубянка%2C%2012%2F1"
          width="100%" height="100%" frameborder="0" style="border:0;">
        </iframe>
      </div>
    </div>

    <!-- Контакты -->
    <div class="d-flex flex-column justify-content-center p-3" style="min-width: 300px;">
      <h5 class="fw-bold mb-2"><%= t('about_us.title') %></h5>
      <p class="mb-1"><%= t('about_us.adress') %>: г. Москва, ул. Сушиная, д. 8</p>
      <p class="mb-1"><%= t('about_us.phone') %>: +7 (999) 123-45-67</p>
      <p class="mb-1"><%= t('about_us.time') %></p>

      <%= link_to t('buttons.about'), about_path, class: "btn btn-outline-secondary btn-sm mt-2", style: "max-width: 200px;" %>
    </div>

  </div>
</footer>

  </div>
</footer>
