

<!DOCTYPE html>
<html>
  <head>
    <title>SushiDelivery</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

  </head>
  <body>
    <div class="container-fluid px-4 py-3">
      <div class="container">
        <header class="d-flex justify-content-center py-3 ">
          <ul class="nav nav-pills gap-4">
              <a href="<%= admin_root_path %>" class="text-decoration-none">
                <span class="logo-title">SUSHIIII</span>
              </a>
            
            <li>
              <%= link_to t('buttons.add_products'), new_admin_product_path, class: 'btn custom-red-btn w-100 me-5' %>
            </li>
           <li>
            <%= link_to t('buttons.orders'), admin_orders_path, class: "btn custom-red-btn w-100 me-5" %>

            </li>

            <li class="nav-item">
              <!-- Блок пользователя -->

                <div class="d-flex justify-content-end gap-3 mb-3">
                <% if admin_user_signed_in? %>
                  <%= button_to t('buttons.log_out'), destroy_admin_user_session_path, method: :delete, class: 'btn custom-red-btn w-100 me-5' %>
                <% end %>

                <%= link_to (I18n.locale == :en ? "RU" : "EN"),
                            url_for(locale: I18n.locale == :en ? :ru : :en),
                            class: "btn custom-red-btn text-center px-4",
                            style: "min-width: 80px;" %>
              </div>  
              </div>
            </li>
          </ul>
        </header>
      </div>
    </div>
  
  
    <%= yield %>
    <%= render 'carts/cart_modal' %>
    <!-- Модальное окно для корзины -->
    <div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cartModalLabel">Ваша корзина</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body">
            <turbo-frame id="cart-frame">
              <!-- Корзина загрузится сюда -->
            </turbo-frame>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

